html,
body {
    margin: 0;
    height: 100%;
}

.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*overflow: hidden; */
}

.calculator {
    border: 1px solid red;
    aspect-ratio: 3/4;
    height: 80vh;
    min-height: 200px;

    display: grid;
    grid-template-rows: 1fr 4fr;
}

.display {
    border: 1px solid blue;
}

.buttonContainer {
    border: 1px solid yellow;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    overflow: hidden;
}